@page
@model MyApp.Namespace.StudentModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

<div id="student-info">
    <h1>Student Information</h1>
    <p><strong>Student Name:</strong> @Model.currentStudent.FirstName @Model.currentStudent.LastName</p>
    <p><strong>GPA:</strong> @Model.currentStudent.GPA</p>
    <p><strong>Faculty:</strong> @Model.currentStudent.Faculty</p>
    <p><strong>Email:</strong> @Model.currentStudent.Email</p>
    <p><strong>Major:</strong> @Model.currentStudent.Major</p>
    <p><strong>Financial Status:</strong> @(Model.currentStudent.FinancialStatus ? "Active" : "Blocked")</p>
    <p><strong>Semester:</strong> @Model.currentStudent.Semester</p>
    <p><strong>Acquired Hours:</strong> @Model.currentStudent.AcquiredHours</p>
    <p><strong>Assigned Hours:</strong> @Model.currentStudent.AssignedHours</p>
    <p><strong>Advisor ID:</strong> @Model.currentStudent.AdvisorId</p>
    <p><strong>Your Student ID: </strong>@HttpContext.Session.GetInt32("student_id")</p>
</div>

    


