@page
@model MyApp.Namespace.StudentModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

<div id="student-info">
    <h1>Student Information</h1>
    <p><strong>Student Name:</strong> @Model.currentStudent.FirstName @Model.currentStudent.LastName</p>
    <p><strong>GPA:</strong> @Model.currentStudent.GPA</p>
    <p><strong>Faculty:</strong> @Model.currentStudent.Faculty</p>
    <p><strong>Email:</strong> @Model.currentStudent.Email</p>
    <p><strong>Major:</strong> @Model.currentStudent.Major</p>
    <p><strong>Financial Status:</strong> @(Model.currentStudent.FinancialStatus ? "Active" : "Blocked")</p>
    <p><strong>Semester:</strong> @Model.currentStudent.Semester</p>
    <p><strong>Acquired Hours:</strong> @Model.currentStudent.AcquiredHours</p>
    <p><strong>Assigned Hours:</strong> @Model.currentStudent.AssignedHours</p>
    <p><strong>Advisor ID:</strong> @Model.currentStudent.AdvisorId</p>
    <p><strong>Your Student ID: </strong>@HttpContext.Session.GetInt32("student_id")</p>
</div>

<div id="phone-area">
    <form method="post">

        <label for="phone" class="form-label fs-4 mt-3">Phone Number:</label>
        <input type="tel" class="form-control mb-3" name="phone" id="phone" placeholder="Enter Phone Number:" value="01010844431" required />


        <button type="submit" class="btn btn-secondary mt-3">Add Number</button>
    </form>

    @if (Model.message.Length > 0 || Model.errormessage.Length>0)
    {
        if (Model.errormessage.Length > 0)
        {
            <div class="alert alert-danger">
                @Model.errormessage
            </div>
        }
        else if (Model.message.Length > 0)
        {
            <div class="alert alert-success">
                @Model.message
            </div>
            
        }
    }
</div>




    


