@page
@model MyApp.Namespace.ListMakeupExamsModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

<div id="right-area">
    <h1>All Courses Exams</h1>

    <table>
        <thead>
            <tr>
                <th>Exam ID</th>
                <th>Type</th>
                <th>Course ID</th>
                <th>Name</th>
                <th>Semester</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var makeupExam in Model.MakeupExams)
            {
                <tr>
                    <td>@makeupExam.examid</td>
                    <td>@makeupExam.type</td>
                    <td>@makeupExam.courseid</td>
                    <td>@makeupExam.name</td>
                    <td>@makeupExam.semester</td>
                    <td>@makeupExam.date.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
