@page
@model MyApp.Namespace.StudentViewSlotModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

@* <h1>
     View Slots
</h1> *@

<div id="left-area">
    <form method="post">
       
        <div>
            <label for="CourseID" class="form-label fs-4 mt-3">Course ID</label>
            <input type="text" class="form-control mb-3" name="CourseID" placeholder="Enter Course ID">
        </div>
        <div>
            <label for="InstructorID" class="form-label fs-4 mt-3">Instructor ID</label>
            <input type="text" class="form-control mb-3" name="InstructorID" placeholder="Enter Instructor ID">
        </div>

        <button type="submit" class="btn btn-secondary mt-3">View Slots</button>
    </form>
</div>




@if(Model.isPosted){
    <div id="right-area">
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Instructor ID</th>
                <th>Instructor Name</th>
                <th>Slot ID</th>
                <th>Time</th>
                <th>Day</th>
                <th>Location</th>
            </tr>
            @foreach (var CoursesSlotsInstructor in Model.StudentViewSlotList)
            {
                <tr>
                    <td>@CoursesSlotsInstructor.course_id</td>
                    <td>@CoursesSlotsInstructor.courseName</td>
                    <td>@CoursesSlotsInstructor.instructorid</td>
                    <td>@CoursesSlotsInstructor.instructor</td>
                    <td>@CoursesSlotsInstructor.slot_id</td>
                    <td>@CoursesSlotsInstructor.time</td>
                    <td>@CoursesSlotsInstructor.day</td>
                    <td>@CoursesSlotsInstructor.location</td>
                </tr>
            }
        </table>
    </div>
}
