@page
@model MyApp.Namespace.StudentViewSlotModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

<h1>
     View Slots
</h1>
<div id="left-area">
    <form method="post">
       
        <label for="courseID">Course ID:</label>
        <input type="number" name="courseID" id="courseID" placeholder="Enter" required />

        <label for="InstructorID">Instructor ID:</label>
        <input type="number" name="InstructorID" id="InstructorID" placeholder="Enter" required />

        

        <button>View Slots</button>
    </form>
</div>




<div id="right-area">
<table class="table">
    <thead>
        <tr>
            <th>Slot ID</th>
            <th>Location</th>
            <th>Time</th>
            <th>Day</th>
            <th>Course Name</th>
            <th>Instructor Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var studentViewSlotResult in Model.StudentViewSlotList)
        {
            <tr>
                <td>@studentViewSlotResult.SlotId</td>
                <td>@studentViewSlotResult.Location</td>
                <td>@studentViewSlotResult.Time</td>
                <td>@studentViewSlotResult.Day</td>
                <td>@studentViewSlotResult.CourseName</td>
                <td>@studentViewSlotResult.InstructorName</td>
            </tr>
        }
    </tbody>
</table>
</div>
